body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.class-form{
  position: absolute;
  justify-content: center;
  background-color: wheat;
  padding: 20px;
  border-radius : 8px;
  left: 33%;
}
.class-form-content{
  background-color: rgba(255, 255, 255, 0.5);
}
.container{
  width: 100%;
  height: 100%;
  left: 50;
  top: 10;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 11;
}